.BuildControls {
    width: 100%;
    background-color: #8BC34A;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Button{
    background-color: darkorange;
    width: 101px;
    height: 31px;
    color: currentColor;

}